@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #fcd34d;
}

.swiper-button-next:after,
.swiper-button-prev:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  color: #fcd34d;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0 !important;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;

  /* --swiper-pagination-top: 110%; */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
@layer base {
  body {
    @apply bg-[rgb(0,0,0)] font-sans text-white overflow-hidden;
  }

  h1 {
    @apply text-[35px] leading-tight md:text-[60px] md:leading-[1.3] mb-8 font-semibold;
  }

  input {
    @apply w-full h-12 xl:h-[52px] rounded-lg pl-6 capitalize;
  }
  input,
  textarea {
    @apply bg-transparent outline-none focus:ring-1 focus:ring-amber-300 border border-white/20 placeholder:text-white/30 placeholder:font-light;
  }
  
  textarea {
    @apply w-full xl:h-[180px] p-6 capitalize rounded-lg resize-none;
  }

  button{
    @apply h-[52px];
  }

  .page {
    @apply w-full h-screen overflow-hidden;
  }

  .page-container {
    @apply pt-28 px-4 md:px-28 md:pt-36 xl:px-36 xl:pt-48;
  }
}

@layer utilities {
  .disabled-link {
    @apply pointer-events-none opacity-50 cursor-not-allowed;
  }
  .secondary-title {
    @apply md:text-[54px] mb-4;
  }
}

@layer components {
  .form-error {
    @apply absolute right-0 top-14 w-fit bg-[url('/icons/cross.svg')] bg-contain bg-no-repeat pl-6 text-xs/5 font-extralight tracking-[0.2em] text-[#FF5757];
  }
  .custom-pagination {
    @apply flex justify-center items-center mt-4;
  }
  .swiper-pagination-bullet {
    @apply w-4 h-4 bg-gray-500 rounded-full cursor-pointer;
  }
.swiper-pagination-bullet-active {
    @apply bg-amber-500 scale-125;
  }
}
