@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
@layer base {
  body {
    @apply bg-[rgb(0,0,0)] font-sans text-white  overflow-hidden;
  }

  h1 {
    @apply text-[35px] leading-tight md:text-[60px] md:leading-[1.3] mb-8 font-semibold;
  }

  h2 {
    @apply text-[35px] leading-tight md:text-[54px] md:leading-[1.3] mb-4 font-semibold;
  }

  .page {
    @apply w-full h-screen overflow-hidden;
  }
}

@layer utilities {
  .disabled-link {
    @apply pointer-events-none opacity-50 cursor-not-allowed;
  }
}
