@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #fcd34d;
}

.swiper-button-next:after,
.swiper-button-prev:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  color: #fcd34d;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0 !important;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
@layer base {
  body {
    @apply bg-[rgb(0,0,0)] font-sans text-white overflow-hidden;
  }

  h1 {
    @apply text-[35px] leading-tight md:text-[60px] md:leading-[1.3] mb-8 font-semibold;
  }

  h2 {
    @apply text-[35px] leading-tight md:text-[54px] md:leading-[1.3] mb-4 font-semibold;
  }

  .page {
    @apply w-full h-screen overflow-hidden;
  }

  .page-container {
    @apply pt-36 px-4 max-md:overflow-y-scroll overflow-x-hidden md:px-32 md:pt-40 xl:px-36 xl:pt-48;
  }
}

@layer utilities {
  .disabled-link {
    @apply pointer-events-none opacity-50 cursor-not-allowed;
  }
}
